# dependencies
**/node_modules/

# builds
sale-drop/dist/
sale-drop/build/
sale-drop/.next/
Backend/dist/

# ignored folder
Ignored/
Ignored/*

# env files
**/.env
**/.env.*
!.env.example

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# cache
.cache/